/* DashboardPage.css */


.dashboard-container {
  background-color: #efeaea;
  color: rgb(8, 8, 8);
  padding: 16px;
  flex-grow: 1; /* Ocupa el espacio restante */
  margin-top: 105px; /* Ajusta si es necesario */
  overflow-x: auto; /* Permite desplazamiento horizontal si es necesario */
}

.dashboard-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 16px;
  max-width: 100%;
  margin: 0 auto; /* Centra la tarjeta en el contenedor si es más pequeña que el máximo */
}

/* Estilos para la tabla de usuarios */
.user-table {
  border-collapse: collapse;
  margin-bottom: 16px;
  table-layout: auto;
}

.user-table th {
  padding: 8px;
    background-color: black;
    color: white;
    border: 1px solid #ffffff
}
.user-table td {
  border: 1px solid #333;
  padding: 8px;
  text-align: left;
}

/* ... Resto de tus estilos ... */

.main-container {
  display: flex; /* Usa Flexbox para alinear elementos horizontalmente */
}

  
  
  .dashboard-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .form-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-container button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #4571a0;
  }
  
  .input-field {
    width: 50%;
    background-color: #555555;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
  }
  
  .action-button {
    background-color: #3498db;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  
  
  .delete-button, .edit-button {
    background-color: #e74c3c;
    color: white;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 4px;
  }
  
  .edit-button {
    background-color: #3498db;
  }
  
  .edit-form {
    margin-top: 16px;
  }
  
  .update-button {
    background-color: #2ecc71;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 /* En tu archivo CSS */
.custom-container {
  background-color: #2b2b2b; /* Reemplaza #2c3e50 con el valor de tu clase bg-zinc-800 */
  max-width: 28rem; /* Reemplaza 28rem con el valor de tu clase max-w-md */
  width: 100%;
  padding: 2.5rem; /* Reemplaza 2.5rem con el valor de tu clase p-10 */
  border-radius: 0.375rem; /* Reemplaza 0.375rem con el valor de tu clase rounded-md */
  margin-top: 105px;
  margin-left: 70px;
}

.custom-input, .custom-textarea {
  width: 100%;
  background-color: #555555; /* Reemplaza #34495e con el valor de tu clase bg-zinc-700 */
  color: #ffffff; /* Reemplaza #ffffff con el valor de tu clase text-white */
  padding: 1rem; /* Reemplaza 1rem con el valor de tu clase px-4 py-2 */
  border-radius: 0.375rem; /* Reemplaza 0.375rem con el valor de tu clase rounded-md */
  margin-top: 0.5rem; /* Reemplaza 0.5rem con el valor de tu clase my-2 */
  box-sizing: border-box;
  
}

.custom-button {
  color: #ffffff;
}

